@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);





#header1-40 .btn {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#header1-40 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-40 P {
  font-family: 'Oxygen', sans-serif;
}
